:root {
  --dark-color: rgb(52, 52, 53);
  --light-color: rgb(255, 255, 255);
  /* --light-color: rgb(238, 231, 231); */
  --hover-color: rgba(59, 57, 54, 0.63);
  --transition-params: all 0.3s linear;
}
.footer {
  width: 100%;
  height: 100px;
  margin: 120px auto 0px auto;
  background-color: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  font-size: 20px;
  color: var(--light-color);
  font-size: 18px;
}

@media (max-width: 770px) {
  .footer {
    margin-top: 30px;
  }
}

.about {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 70px;
}

.about__image {
  width: 380px;
  border-radius: 5px;
}

.about__text-container {
  margin-left: 40px;
}

.about__text-header {
  font-size: 40px;
  font-weight: bold;
}

.about__text {
  margin-top: 20px;
  font-size: 23px;
  line-height: 28px;
  text-align: justify;
}

@media (max-width: 1300px) {
  .about {
    width: 1000px;
  }
  .about__image {
    width: 290px;
  }
  .about__text-header {
    font-size: 27px;
  }
}

@media (max-width: 1024px)  {
  .about {
    width: 730px;
   }
   .about__text {
    font-size: 20px;
   }
}

@media (max-width: 770px) {
  .about {
    width: 600px;
  }
  .about__image {
    width: 200px;
    margin-left: 5%;
  }
  .about__text-header {
    font-size: 22px;
  }
  .about__text-container {
   margin-left: 10px;
   margin-right: 2.5%;
 }
  .about__text {
    font-size: 17px;
   }
}

@media (max-width: 600px) {
  .about {
    width: 100vw;
    display: flex;
    margin: 27px 0 0 0;
    
  }
  .about__image {
    width: 140px;
  }
  .about__text-header {
    font-size: 18px;
  }
  .about__text {
    font-size: 10px;
    width: 95%;
    line-height: 4vw;
   }
}

@media (max-width: 430px) {
  .about__text-header {
    font-size: 12px;
  }
  .about__text {
    margin-top: 10px;
    font-size: 9px;
  }
}
:root {
  --dark-color: rgb(52, 52, 53);
  --light-color: rgb(255, 255, 255);
  /* --light-color: rgb(238, 231, 231); */
  --hover-color: rgba(59, 57, 54, 0.63);
  --transition-params: all 0.3s linear;
}
.contact {
  width: 1280px;
  height: 480px;
  margin: 50px auto 50px auto;
}

.contact__header {
  text-align: center;
  font-size: 30px;
}

.contact__container {
  height: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__data-container {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact__header-intro {
  text-align: justify;
  width: 100%;
  font-size: 23px;
}

.contact__contact-item {
  margin-top: 15px;
  font-size: 23px;
}

.contact__data-title {
  font-weight: bold;
}

.contact__data-link,
.contact__data-link:visited,
.contact__data-link:focus {
  cursor: pointer;
  text-decoration: none;
}

.contact__map {
  margin-top: 20px;
  border-radius: 5px;
}

.contact__form {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__form-input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: var(--light-color);
  border-radius: 5px;
  border: 3px solid var(--dark-color);
  padding-left: 10px;
  font-size: 15px;
  transition: var(--transition-params);
}

.contact__form-input-warning {
  background-color: rgba(255, 171, 171, 0.623);
}

textarea.contact__form-input {
  padding-top: 12px;
  height: 200px;
}

.contact__form-button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 3px solid var(--dark-color);
  background-color: var(--light-color);
  font-size: 18px;
  cursor: pointer;
  transition: var(--transition-params);
}

.contact__form-button:hover {
  background-color: rgba(70, 70, 70, 0.432);
  color: var(--light-color);
}

@media (max-width: 1300px) {
  .contact {
    width: 1000px;
  }
  .contact__map {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .contact {
    width: 730px;
  }
  .contact__header {
    font-size: 25px;
  }
  .contact__header-intro {
    font-size: 18px;
    line-height: 25px;
  }
  .contact__form-input,
  .contact__form-button {
    font-size: 12px;
  }
  .contact__contact-item {
    font-size: 18px;
  }
}

@media (max-width: 770px) {
  .contact {
    width: 600px;
    height: fit-content;
  }
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contact__data-container {
    width: 100%;
  }

  .contact__form {
    width: 100%;
  }
  .contact__form-input,
  .contact__form-button {
    margin-top: 15px;
  }
}

@media (max-width: 620px) {
  .contact {
    width: 95vw;
  };
}

:root {
  --dark-color: rgb(52, 52, 53);
  --light-color: rgb(255, 255, 255);
  /* --light-color: rgb(238, 231, 231); */
  --hover-color: rgba(59, 57, 54, 0.63);
  --transition-params: all 0.3s linear;
}
.diplomas {
  width: 1280px;
  height: fit-content;
  margin: 50px auto 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition-params);
}

.diplomas__slider-window {
  overflow: hidden;
  width: 85%;
}

.diplomas__slider-tape {
  display: flex;
  align-items: center;
  transition: var(--transition-params);
  z-index: -1;
}

.diplomas__diploma-img {
  border-radius: 5px;
  border: 10px solid transparent;
}

.diplomas__button {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 4px solid var(--dark-color);
  border-left: 4px solid var(--dark-color);
  cursor: pointer;
  transition: var(--transition-params);
  opacity: 0.2;
  z-index: 0;
}

.diplomas__button:hover {
  opacity: 0.9;
}

.diplomas__button:first-of-type {
  transform: rotate(-45deg);
}
.diplomas__button:last-of-type {
  transform: rotate(135deg);
}

@media (max-width: 1300px) {
  .diplomas {
    width: 1000px;
  }
}

@media (max-width: 1024px) {
  .diplomas {
    width: 730px;
  }
}
@media (max-width: 770px) {
  .diplomas {
    width: 530px;
  }
  .diplomas__button {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 600px) {
  .diplomas {
    width: 430px;
  }
}

@media (max-width: 430px) {
  .diplomas {
    width: 280px;
  }
  .diplomas__button {
    width: 15px;
    height: 15px;
  }
}

:root {
  --dark-color: rgb(52, 52, 53);
  --light-color: rgb(255, 255, 255);
  /* --light-color: rgb(238, 231, 231); */
  --hover-color: rgba(59, 57, 54, 0.63);
  --transition-params: all 0.3s linear;
}
.services {
  width: 1280px;
  margin: 0 auto;
  margin-top: 20px;
  transition: var(--transition-params);
}

.services__header {
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
}

.services__list {
  width: 100%;
  list-style: none;
}

.service__item {
  width: 100%;
  border-radius: 5px;
  border: 3px solid var(--dark-color);
  margin-bottom: 20px;
  padding: 20px;
}

.service__control {
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.service__title {
  font-size: 20px;
  font-weight: 700;
}
.service__icon {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: var(--dark-color);
  transition: var(--transition-params);
  z-index: -5;
}

.service__icon::before,
.service__icon::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: var(--light-color);
  transform: translate(-50%, -50%);
}
.service__icon::before {
  width: 50%;
  height: 2px;
}
.service__icon::after {
  width: 2px;
  height: 50%;
}

.service__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  will-change: max-height;
  font-size: 20px;
  transition: all 0.3s linear;
}

.open .service__content {
  margin-top: 5px;
  opacity: 1;
}

.open .service__icon {
  transform: rotate(45deg);
}

@media (max-width: 1300px) {
  .services {
    width: 1000px;
  }
}

@media (max-width: 1024px) {
  .services {
    width: 730px;
  }
  .service__control{
    height: 35px;
  }
  .service__item {
    padding: 6px 10px 6px 10px;
  }
  .service__title,
  .service__content,
  .open .service__content {
    font-size: 18px;
  }
  .service__content {
    width: 90%;
    margin-top: 2px;
    line-height: 25px;
  }
  .open .service__content {
    margin-top: 2px;
    line-height: 25px;
  }
}

@media (max-width: 770px) {
  .services {
    width: 600px;
  }
  .service__item {
    padding: 6px 20px 6px 20px;
  }
}

@media (max-width: 620px) {
  .services {
    width: 95vw;
  }
  .service__control{
    height: 25px;
  }
  .service__item {
    padding: 10px 20px 6px 20px;
  }
  .service__icon {
    width: 20px;
    height: 20px;
  }

  .service__title,
  .service__content,
  .open.service__content {
    font-size: 15px !important;
  }
  .open.service__content,
  .service__content {
    margin-top: 0;
  }
  .service__content {
    width: 90%;
    line-height: 25px;
  }
}
@media (max-width: 430px) {
  .service__title {
    font-size: 15px;
  }
  .service__content {
    font-size: 12px;
  }
  .open .service__content {
    width: 90%;
    font-size: 12px;
    margin-top: 2px;
    line-height: 25px;
  }
}

:root {
  --dark-color: rgb(52, 52, 53);
  --light-color: rgb(255, 255, 255);
  /* --light-color: rgb(238, 231, 231); */
  --hover-color: rgba(59, 57, 54, 0.63);
  --transition-params: all 0.3s linear;
}
.introduction {
  /* width: 100%; */
  height: 600px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.introduction__text-container {
  width: 1280px;
  margin: 0 auto;
}

.introduction__name,
.introduction__occupation {
  font-size: 60px;
}

.introduction__text {
  font-size: 30px;
  margin-top: 15px;
}

.introduction__singup {
  display: block;
  color: var(--dark-color);
  text-decoration: none;
  width: 400px;
  height: 50px;
  text-align: center;
  margin-top: 27px;
  border-radius: 5px;
  border: 3px solid var(--dark-color);
  transition: all 0.2s linear;
  font-size: 23px;
}
.introduction__singup:hover {
  color: var(--hover-color);
  cursor: pointer;
}

@media (max-width: 1300px) {
  .introduction__text-container {
    width: 1000px;
  }
}

@media (max-width: 1024px) {
  .introduction__text-container {
    width: 730px;
  }
}

@media (max-width: 770px) {

  .introduction {
    height: 400px;
  }

  .introduction__text-container {
    width: 600px;
  }
  .introduction__name,
  .introduction__occupation {
    width: 90%;
    font-size: 35px;
  }
}

@media (max-width: 640px) {
  .introduction__text-container {
    width: 600px;
    padding-left: 2%;
  }
  .introduction__name,
  .introduction__occupation {
    font-size: 30px;
  }
  .introduction__occupation {
    font-size: 23px;
  }
  .introduction__text {
    font-size: 23px;
  }
  .introduction__singup {
    width: 300px;
    height: 35px;
    font-size: 20px;
  }
}

@media (max-width: 430px) {
  
  .introduction {
    height: 200px;
  }
  .introduction__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .introduction__name,
  .introduction__occupation {
   text-align: center;
   font-size: 23PX;
  }
 
  .introduction__text {
    display: none;
  }

  .introduction__occupation {
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
  }
  .introduction__singup {
    width: 250px;
    height: 30px;
    margin: 15px auto 0 auto;
    font-size: 15px;
  }
}
:root {
  --dark-color: rgb(52, 52, 53);
  --light-color: rgb(255, 255, 255);
  /* --light-color: rgb(238, 231, 231); */
  --hover-color: rgba(59, 57, 54, 0.63);
  --transition-params: all 0.3s linear;
}
.header__header-container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition-params);
}

.header__menu-container {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__header-link,
.header__header-link:visited,
.header__header-link:focus {
  text-decoration: none;
  font-size: 25px;
  color: var(--dark-color);
  cursor: pointer;
  transition: var(--transition-params);
}

.header__header-link:hover {
  color: var(--hover-color);
}
.header__social-links-container {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__social-link-image {
  width: 50px;
  transition: var(--transition-params);
}

@media (max-width: 1300px) {
  .header__header-container {
    width: 1000px;
  }
  .header__menu-container {
    width: 43%;
  }
  .header__social-links-container {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .header__header-container {
    width: 730px;
  }
  .header__menu-container {
    width: 47%;
  }
  .header__social-links-container {
    width: 37%;
  }
}

@media (max-width: 770px) {
  .header__header-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .header__menu-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
  .header__social-links-container {
    width: 95%;
  }
  .header__social-link-image {
    width: 35px;
  }
}

@media (max-width: 430px) {
  .header__menu-container {
    width: 90%;
  }

  .header__header-link,
  .header__header-link:visited,
  .header__header-link:focus .header__social-links-container {
    font-size: 20px;
  }
  .header__social-links-container {
    width: 90%;
  }

  .header__social-link-image {
    width: 30px;
  }
}

:root {
  --dark-color: rgb(52, 52, 53);
  --light-color: rgb(255, 255, 255);
  /* --light-color: rgb(238, 231, 231); */
  --hover-color: rgba(59, 57, 54, 0.63);
  --transition-params: all 0.3s linear;
}
.modal {
    background-color: rgba(70, 70, 70, 0.432);
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 666;
    opacity: 0;
    transition: var(--transition-params);
  }
  
  .modal__container {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 38vh;
    left: 34vw;
    z-index: 999;
    background-color: var(--light-color);
    border-radius: 5px;
    border: 3px solid var(--dark-color);
  }
  
  .modal__title {
    width: 80%;
    text-align: center;
    margin: 70px auto 0px auto;
    font-size: 23px;
  }
  
  .modal__text {
    width: 80%;
    text-align: justify;
    margin: 20px auto 10px auto;
    font-size: 23px;
  }
:root {
  --dark-color: rgb(52, 52, 53);
  --light-color: rgb(255, 255, 255);
  /* --light-color: rgb(238, 231, 231); */
  --hover-color: rgba(59, 57, 54, 0.63);
  --transition-params: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark-color);
  font-family: 'Roboto', sans-serif;
}

body {
  background-color:  var(--light-color);;
  height: fit-content;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color:  var(--light-color);
  z-index: 999;
}

.main {
  width: 100%;
  margin-top: 100px;
}

