<nav class="header__header-container">
    <div class="header__menu-container">
        <a class="header__header-link" id="#about"
        >Обо мне</a
        >
        <a class="header__header-link" id="#contacts"
        >Контакты</a
        >
        <a class="header__header-link" id="#services"
        >Услуги</a
        >
    </div>
    <div class="header__social-links-container">
        {% for social_link in social_links_list %}
        <a
                class="header__social-link"
                href="{{social_link.link_to}}"
                target="_blank"
        ><img
                class="header__social-link-image"
                src="{{domain}}{{social_link.link_logo}}"
        /></a>
        {% endfor %}
    </div>
</nav>
