<section
  class="introduction"
  style="
    background-image: url('http://localhost:8000/media/doctor_background.jpg');
  "
>
  <div class="introduction__text-container">
    <h1 class="introduction__name">Георгий Сергеевич Савоста</h1>
    <h4 class="introduction__occupation">Хирург</h4>
    <p class="introduction__text">
      Профессионализм. Ответственность. Результат.
    </p>

    <button
      type="button"
      id="introduction__singup"
      class="introduction__singup"
    >
      Записаться на приём
    </button>
  </div>
</section>

