@import url('./var.css');


.modal {
    background-color: rgba(70, 70, 70, 0.432);
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 666;
    opacity: 0;
    transition: var(--transition-params);
  }
  
  .modal__container {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 38vh;
    left: 34vw;
    z-index: 999;
    background-color: var(--light-color);
    border-radius: 5px;
    border: 3px solid var(--dark-color);
  }
  
  .modal__title {
    width: 80%;
    text-align: center;
    margin: 70px auto 0px auto;
    font-size: 23px;
  }
  
  .modal__text {
    width: 80%;
    text-align: justify;
    margin: 20px auto 10px auto;
    font-size: 23px;
  }